# Eclipse specific files
**/.project
**/.settings
**/.classpath
**/.factorypath

# Output files
**/target/*
**/bin/*

# Mac OS stuff
**/.DS_Store

# Files created by H2 database
db/*

# Folder "public" is for Gitlab build chain
public/*
