apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "phoebus-services-chart.fullname" . }}-config
data:
  saveandrestore.properties: |-
      logging.level.org.springframework={{ .Values.service.loglevel}}
      app.version=@project.version@
      app.name=@project.artifactId@

      # The server port for the rest service
      server.port=8080

      # Elasticsearch connection parameters
      elasticsearch.network.host={{ .Values.elasticsearch.network.host }}
      elasticsearch.http.port={{ .Values.elasticsearch.http.port }}

      # Do not change this!
      spring.jackson.serialization.write-dates-as-timestamps=false

      server.servlet.contextPath=/save-restore

      # The names of the index to use for save&restore
      elasticsearch.tree_node.index={{ include "phoebus-services-chart.fullname" . }}_tree
      elasticsearch.configuration_node.index={{ include "phoebus-services-chart.fullname" . }}_configuration
      elasticsearch.snapshot_node.index:{{ include "phoebus-services-chart.fullname" . }}_snapshot
      elasticsearch.composite_snapshot_node.index:{{ include "phoebus-services-chart.fullname" . }}_composite_snapshot
      elasticsearch.filter.index:{{ include "phoebus-services-chart.fullname" . }}_filter

      ############################## REST Logging ###############################
      # {{ .Values.service.loglevel}} level will log all requests and responses to and from the REST end points
      logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter={{ .Values.service.loglevel}}

      # Mapping of static resources. Needed as otherwise the web front-end (if present) will intercept and fail to
      # serve a resource like for instance SearchHelp.html
      spring.mvc.static-path-pattern=/**

      ############## AD - External ##############
      ad.enabled = false
      ad.url = ldap://127.0.0.1
      ad.domain = test.com

      ############## LDAP - External ##############
      # If uncommenting in this section, make sure
      # to comment out in LDAP - Embedded section
      #############################################
      #ldap.urls=ldaps://ldap-cslab.cslab.esss.lu.se
      #ldap.base.dn = dc=esss,dc=lu,dc=se
      #ldap.user.search.base=
      # User search pattern, e.g. uid={0},ou=People. No default value as LDAP environment may not
      # support user search by pattern.
      #ldap.user.dn.pattern=uid={0},ou=Users
      # User search filter, e.g. (&(objectClass=person)(SAMAccountName={0})). No default value as LDAP environment
      # may not support user search by filter.
      #ldap.user.search.filter=
      #ldap.groups.search.base = ou=Groups
      #ldap.groups.search.pattern = (memberUid= {1})
      # dn of manager account, may be required for group search
      ldap.manager.dn=
      # password of account
      ldap.manager.password=

      ############## LDAP - Embedded ##############
      # If uncommenting in this section, make sure
      # to comment out in LDAP - External section
      #############################################
      ldap.urls=ldap://localhost:8389/dc=sar,dc=local
      ldap.base.dn = dc=sar,dc=local
      ldap.user.dn.pattern = uid={0},ou=Group
      ldap.groups.search.base = ou=Group
      ldap.groups.search.pattern = (memberUid= {1})
      spring.ldap.embedded.ldif=classpath:sar.ldif
      spring.ldap.embedded.base-dn=dc=sar,dc=local
      spring.ldap.embedded.port=8389 
      spring.ldap.embedded.validation.enabled=false

      ############## Demo credentials ##############
      demo.user=user
      demo.user.password=userPass
      demo.admin=admin
      demo.admin.password=adminPass
      demo.readOnly=johndoe
      demo.readOnly.password=1234

      ############## Authentication Implementation ##############
      # Supported options:
      # ad - Microsoft AD
      # ldap - Probably Open LDAP
      # ldap_embedded - Embedded LDAP. Config in sar.ldif
      # demo - Hard coded, see WebSecurityConfig class
      auth.impl = demo

      ###### Bypass authorization (but not authentication!) #######
      authorization.permitall = true

      ############## Authorization Roles ################

      role.user=sar-user
      role.admin=sar-admin
    
  olog.properties: |-
      # the server port for the rest service
      server.port: 8181

      # Options support for unsecure http
      server.http.enable={{ .Values.service.http.enable }}
      server.http.port=8080

      # Disable the spring banner
      #spring.main.banner-mode=off

      # suppress the logging from spring boot
      # during {{ .Values.service.loglevel}}ging this should be set to {{ .Values.service.loglevel}}
      logging.level.root={{ .Values.service.loglevel}}
      logging.level.org.springframework={{ .Values.service.loglevel}}
      logging.level.org.apache.catalina={{ .Values.service.loglevel}}
      logging.level.org.apache.kafka={{ .Values.service.loglevel}}
      logging.level.org.springframework.web={{ .Values.service.loglevel}}
      logging.level.org.springframework.security={{ .Values.service.loglevel}}

      spring.main.allow-bean-definition-overriding=true

      ############## SSL - Configuration ##############
      server.ssl.key-store-type=PKCS12
      server.ssl.key-store=classpath:keystore/newcf.p12
      server.ssl.key-store-password=password
      server.ssl.key-alias=cf

      security.require-ssl=true

      ############## LDAP - External ##############
      ldap.enabled = false
      #ldap.urls = ldaps://ldap.cs.nsls2.local/dc=nsls2,dc=bnl,dc=gov
      ldap.urls = ldaps://controlns02.nsls2.bnl.gov/dc=nsls2,dc=bnl,dc=gov
      ldap.base.dn = dc=nsls2,dc=bnl,dc=gov
      ldap.user.search.base=
      # User search pattern, e.g. uid={0},ou=People. No default value as LDAP environment may not
      # support user search by pattern.
      ldap.user.dn.pattern=
      # User search filter, e.g. (&(objectClass=person)(SAMAccountName={0})). No default value as LDAP environment
      # may not support user search by filter.
      ldap.user.search.filter=
      ldap.groups.search.base = ou=Group
      ldap.groups.search.pattern = (memberUid= {1})
      # dn of manager account, may be required for group search
      ldap.manager.dn=
      # password of account
      ldap.manager.password=

      ############## LDAP - Embedded ##############
      embedded_ldap.enabled = false
      embedded_ldap.urls = ldap://localhost:8389/dc=olog,dc=local
      embedded_ldap.base.dn = dc=olog,dc=local
      embedded_ldap.user.dn.pattern = uid={0},ou=People
      embedded_ldap.groups.search.base = ou=Group
      embedded_ldap.groups.search.pattern = (memberUid= {1})
      spring.ldap.embedded.ldif=classpath:olog.ldif
      spring.ldap.embedded.base-dn=dc=olog,dc=local
      spring.ldap.embedded.port=8389
      spring.ldap.embedded.validation.enabled=false


      ############## Demo Auth ##############
      demo_auth.enabled = true

      ############## Authorization Role --> group Mapping ##############
      # Customize group names here
      admin-groups=olog-admins,sys-admins,ADMIN
      log-groups=olog-logs,USER
      tag-groups=olog-tags,USER
      property-groups=olog-properties,USER
      logbook-groups=olog-logbooks,USER

      ############################## Elastic Search ###############################

      # Elasticsearch, by default, binds itself to the 0.0.0.0 address, and listens
      # on port [9200-9300] for HTTP traffic and on port [9300-9400] for node-to-node
      # communication. (the range means that if the port is busy, it will automatically
      # try the next port).
      # Set both 'bind_host' and 'publish_host':
      #
      elasticsearch.network.host: {{ .Values.elasticsearch.network.host }}

      # Set a custom port to listen for HTTP traffic:
      #
      elasticsearch.http.port: {{ .Values.elasticsearch.http.port }}
      elasticsearch.http.protocol: http

      # Set the name of the elastic cluster
      elasticsearch.cluster.name: elasticsearch

      # The names of the index to use for olog
      elasticsearch.tag.index: {{ include "phoebus-services-chart.fullname" . }}_tags
      elasticsearch.tag.type: {{ include "phoebus-services-chart.fullname" . }}_tag

      elasticsearch.logbook.index: {{ include "phoebus-services-chart.fullname" . }}_logbooks
      elasticsearch.logbook.type: {{ include "phoebus-services-chart.fullname" . }}_logbook

      elasticsearch.property.index: {{ include "phoebus-services-chart.fullname" . }}_properties
      elasticsearch.property.type: {{ include "phoebus-services-chart.fullname" . }}_property

      elasticsearch.log.index: {{ include "phoebus-services-chart.fullname" . }}_logs
      elasticsearch.log.type: {{ include "phoebus-services-chart.fullname" . }}_log

      elasticsearch.sequence.index: {{ include "phoebus-services-chart.fullname" . }}_sequence
      elasticsearch.sequence.type: {{ include "phoebus-services-chart.fullname" . }}_sequence

      ############################## Mongo gridfs client ###############################
      mongo.database: {{ .Values.mongo.database }}
      mongo.host: {{ .Values.mongo.host }}
      mongo.port: {{ .Values.mongo.port }}


      ############################## Spring Session repository configuration ##############################

      # For {{ .Values.service.loglevel}}ging purposes, set the below to true
      # spring.h2.console.enabled=true

      # Sets the maximum inactive interval, MUST be in minutes. Defaults to 30 if not set here.
      # If set to a negative value, the session never expires.
      # spring.session.timeout=30

      # URL for the H2 database. Defaults to in-memory, which means sessions are lost between restarts.
      # Use the below example to define a file-based URL.
      # spring.datasource.url=jdbc:h2:file:./olog-session;DB_CLOSE_ON_EXIT=TRUE

      ############################## CORS settings ##############################
      # Comma separated list of origins allowed to do CORS requests.
      # Defaults to http://localhost:3000 (NodeJS development), but must be augmented
      # with the origin(s) on which the web front-end is deployed.
      #cors.allowed.origins=http://localhost:3000

      ################## File upload and request size limits ##################
      spring.servlet.multipart.max-file-size=50MB
      spring.servlet.multipart.max-request-size=100MB

      ################## List of "levels" ##################
      levels=Urgent,Suggestion,Info,Request,Problem

      ########### Elasticsearch "result set" sizes ##########
      # By default Elasticsearch will return 10 items matching a query.
      # This may bee too limiting, e.g. when client requests all tags.
      elasticsearch.result.size.logbooks=10
      elasticsearch.result.size.tags=10
      elasticsearch.result.size.properties=10




