apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "phoebus-services-chart.fullname" . }}
  labels:
    {{- include "phoebus-services-chart.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "phoebus-services-chart.fullname" . }}
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "phoebus-services-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "phoebus-services-chart.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "phoebus-services-chart.serviceAccountName" . }}
      {{- if .Values.gitRepoConfig.url }}
      initContainers:
      - name: init-container-git
        image: baltig.infn.it:4567/epics-containers/container-init
        securityContext:
{{ toYaml .Values.securityContext | indent 12 }}
        command:
        - sh
        - -c
        - |
          id=`id`
          cd /pvc
          
          echo "ID $id cloning: {{ .Values.gitRepoConfig.url }} {{ .Values.gitRepoConfig.path }} revision {{ .Values.gitRepoConfig.branch }} "
          if [ -d temp-config ]; then
            rm -rf temp-config
          fi
          if [ -n "{{ .Values.gitRepoConfig.branch }}" ]; then
            git clone -b {{ .Values.gitRepoConfig.branch }} {{ .Values.gitRepoConfig.url }} --recurse-submodules temp-config
          else
            git clone {{ .Values.gitRepoConfig.url }} --recurse-submodules temp-config
          fi

          if [ -d temp-config/{{ .Values.gitRepoConfig.path }} ]; then
            if [ "{{ .Values.gitRepoConfig.path }}" == "." ]; then
              mv temp-config/* /pvc/
            else
              mv temp-config/{{ .Values.gitRepoConfig.path }}/* /pvc/
              rm -rf temp-config
            fi
          else
            mv temp-config/* /pvc/
          fi

          # chmod a+w,a+r -R /pvc
          ls /pvc
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - name: config-volume
          mountPath: /pvc
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
{{  toYaml .Values.securityContext | indent 12}}
          resources:
{{  toYaml .Values.resources | indent 12}}
          {{- if .Values.epicsConfiguration.name }}
          envFrom:
            - configMapRef:
                name: {{ .Values.epicsConfiguration.name }}
          {{- end }}

          env:
            {{- if .Values.epicsConfiguration.gateway }}
            - name: EPICS_CA_ADDR_LIST
              value: {{ .Values.epicsConfiguration.gateway | quote }}
            - name: EPICS_CA_AUTO_ADDR_LIST
              value: "NO"
            {{- end }}
          
          volumeMounts:
            - name: config
              mountPath: /config
            - name: phoebus-ini
              mountPath: /phoebus/phoebus_settings.ini  # Mount path inside the container
              subPath: phoebus_settings.ini  # Optional, if you only want to mount a specific file from the ConfigMap
              volumeMounts:
            - name: config-volume
              mountPath: /gitconfig  # Adjust the mountPath as per your requirement
          ports:
            {{- if eq .Values.phoebusservice "scanserver" }}
            - name: rest
              containerPort: 4810
              protocol: TCP
            {{- else }}
            - name: rest
              containerPort: 8080
              protocol: TCP
            {{- end }}

            
          stdin: true
          tty: true  
          command: 
            - sh 
            - -c
            - |
              echo "EPICS_CA_ADDR_LIST=$EPICS_CA_ADDR_LIST"
              if [ "{{ .Values.phoebusservice }}" = "webalarm" ]; then
              export ALARM_SERVER={{.Values.kafka.host}}:{{.Values.kafka.port}}
              export ALARM_CONFIG={{.Values.alarm.config}}
              echo "* Alarm WebMon"
                cp /webapps/alrmwebmon/alarm-webmon.war /usr/local/tomcat/webapps
                catalina.sh start
              fi

              if [ "{{ .Values.phoebusservice }}" = "saveandrestore" ]; then
                elastic={{ .Values.elasticsearch.network.host }}
                elastichttpport={{ .Values.elasticsearch.http.port }}
                elasticport={{ .Values.elasticsearch.network.port }}

                echo "Testing connection to $elastic:$elastichttpport"
                until curl --silent --fail http://$elastic:$elastichttpport/_cluster/health; do
                echo "Waiting for Elasticsearch $elastic"
                sleep 4
                done
                echo "* Starting save and restore phoebus service Elastic $elastic:$elasticport"
                cd /saveandrestore
                # java -jar  /phoebus/service-save-and-restore.jar -Delasticsearch.network.host={{ .Values.elasticsearch.network.host }} -Delasticsearch.http.port="{{ .Values.elasticsearch.http.port }}" -Dlogging.level.org.springframework=TRACE -Dlogging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=DEBUG
                java -jar -Dspring.config.location=file:/config/saveandrestore.properties /saveandrestore/service-save-and-restore.jar  
              
              fi
              if [ "{{ .Values.phoebusservice }}" = "alarmserver" ]; then
                ## needs kafka
                cd /alarmserver
                echo "org.phoebus.pv.ca/addr_list=gateway.{{.Values.beamline}}" > phoebus.ini
                echo "org.phoebus.pv.ca/auto_addr_list=false" >> phoebus.ini 
                # 
                settings="-Dspring.config.location=file:/config/alarm.properties /alarmserver/service-alarm-server.jar -noshell -server {{.Values.kafka.host}}:{{.Values.kafka.port}} -settings /phoebus/phoebus_settings.ini"
                {{- if .Values.alarm.config }}
                settings="$settings -config {{.Values.alarm.config}}"
                {{- end }}
                if [ -e /gitconfig/alarm_configuration.xml ];then
                   java -jar $settings -import /gitconfig/alarm_configuration.xml
                fi
                echo "starting java -jar $settings"
                java -jar $settings
              fi
              if [ "{{ .Values.phoebusservice }}" = "alarmlogger" ]; then
                ## needs kafka
                cd /alarmlogger
                
                settings="-Dspring.config.location=file:/config/alarmlogger.properties /alarmlogger/service-alarm-logger.jar  -noshell -bootstrap.servers {{.Values.kafka.host}}:{{.Values.kafka.port}} -es_host {{ .Values.elasticsearch.network.host }} -es_port {{ .Values.elasticsearch.http.port }} -topics {{.Values.alarm.topics}}"
                
                echo "starting java -jar $settings"
                java -jar $settings
              fi
              if [ "{{ .Values.phoebusservice }}" = "scanserver" ]; then
                echo "* Starting scan server"
                cd /scanserver
                java -jar /scanserver/service-scan-server.jar -noshell 
              fi
              if [ "{{ .Values.phoebusservice }}" = "olog" ]; then
                echo "* Starting olog server"
                cd /olog
                java -jar -Dspring.config.location=file:/config/olog.properties /olog/service-olog.jar
              fi

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "phoebus-services-chart.fullname" . }}-config
        {{- if .Values.epicsConfiguration.name }}
    
        - name: phoebus-ini
          configMap:
            name: {{ .Values.epicsConfiguration.name }}
            items:
            - key: phoebus_settings.ini
              path: phoebus_settings.ini # This is the path inside the mountPath where the file will be available
        {{- end }}

  volumeClaimTemplates:
  - metadata:
      name: config-volume
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi  # Adjust storage size as needed
