apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "phoebus-services-chart.fullname" . }}
  labels:
    {{- include "phoebus-services-chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "phoebus-services-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "phoebus-services-chart.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "phoebus-services-chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: config
              mountPath: /config
          ports:
            {{- if eq .Values.phoebusservice "saveandrestore" }}
            - name: rest
              containerPort: 8080
              protocol: TCP
            {{- end}}
            {{- if eq .Values.phoebusservice "scanserver" }}
            - name: rest
              containerPort: 4810
              protocol: TCP
            {{- end }}
          command: 
            - sh 
            - -c
            - |
              if [ "{{ .Values.phoebusservice }}" = "saveandrestore" ]; then
                elastic={{ .Values.elasticsearch.network.host }}
                elastichttpport={{ .Values.elasticsearch.http.port }}
                elasticport={{ .Values.elasticsearch.network.port }}

                echo "Testing connection to $elastic:$elastichttpport"
                until curl --silent --fail http://$elastic:$elastichttpport/_cluster/health; do
                echo "Waiting for Elasticsearch $elastic"
                sleep 4
                done
                echo "* Starting save and restore phoebus service Elastic $elastic:$elasticport"
                # java -jar  /phoebus/service-save-and-restore.jar -Delasticsearch.network.host={{ .Values.elasticsearch.network.host }} -Delasticsearch.http.port="{{ .Values.elasticsearch.http.port }}" -Dlogging.level.org.springframework=TRACE -Dlogging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=DEBUG
                java -jar -Dspring.config.location=file:/config/saveandrestore.properties /phoebus/service-save-and-restore.jar  
              
              fi
              if [ "{{ .Values.phoebusservice }}" = "alarmserver" ]; then
                ## needs kafka
                echo "Not yet installed"
              fi
              if [ "{{ .Values.phoebusservice }}" = "alarmlogger" ]; then
                ## needs kafka
                echo "Not yet installed"
              fi
              if [ "{{ .Values.phoebusservice }}" = "scanserver" ]; then
                echo "* Starting scan server"

                java -jar service-scan-server.jar -noshell 
              fi

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "phoebus-services-chart.fullname" . }}-config
